/*
button, p {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #142a4e;
    width: 100%;
    min-height: 287px;
    padding-top: 92px;
}

footer .container {
    max-width: 1170px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

footer .container .row {
    margin: 0;
    padding-left: 25px;
}

.make-call {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.make-call p {
    padding-bottom: 21px;
    position: relative;
}

.make-call #telephone_number {
    font-size: 14pt;
}

.make-call #telephone_number span {
    font-weight: bold;
}

.make-call #telephone_number::before {
    background: url("img/call.png") no-repeat;
    content: '';
    position: absolute;
    left: -24px;
    top: 5px;
    height: 16px;
    width: 16px;
}

.request-call {
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.request-call p:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 16px;
}

.request-call button {
    width: 170px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-image: -moz-linear-gradient(90deg, rgb(201, 0, 11) 0%, rgb(255, 54, 8) 99.609%);
    background-image: -webkit-linear-gradient(90deg, rgb(201, 0, 11) 0%, rgb(255, 54, 8) 99.609%);
    border: 0;
}

.request-call span {
    padding: 11px 27px 14px 26px;
}

.write-us {
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}

.write-us #email {
    line-height: 1;
    margin-top: 23px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.write-us #email span {
    display: block;
    position: relative;
}

.write-us #email span:before {
    background: url("img/letter.png") no-repeat;
    content: '';
    position: absolute;
    left: -23px;
    top: 3px;
    height: 11px;
    width: 13px;
}

.write-us img {
    margin-right: 10px;
}

.invite {
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
}

.invite p:first-child {
    padding-bottom: 12px;
}

.invite .address {
    position: relative;
    margin-left: 22px;
    width: 212px;
    margin-bottom: 20px;
}

.invite .address:before {
    background: url("img/maps.png") no-repeat;
    content: '';
    position: absolute;
    left: -22px;
    top: 0;
    height: 16px;
    width: 12px;
}

@media screen and (max-width: 769px) {

    footer {
        font-size: 12px;
    }

    .write-us {
        text-align: left;
    }

    footer {
        padding-top: 53px;
        padding-bottom: 52px;
    }

    .make-call {
        margin-bottom: 30px;

    }

    .make-call p {
        padding: 0;
    }

    .make-call #telephone_number {
        margin-top: 22px;
        margin-bottom: 14px;
        font-size: 16px;
    }

    .request-call p:nth-child(2) {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .write-us #email {
        display: block;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 479px) {

    footer {
        font-size: 12px;
        padding: 43px 0;
    }

    footer .container .row {
        padding: 0;
    }

    footer {
        text-align: center;
    }

    .make-call, .request-call, .write-us {
        border-bottom: 1px solid #374a68;
        text-align: center;

    }

    .make-call {
        margin: 0;
        padding: 0px 15px 15px;
    }

    .make-call p:nth-child(-n+2) {
        display: inline;
    }

    .make-call #telephone_number:after {
        background: url("img/call.png") no-repeat;
        content: '';
        display: block;
        margin: 11px auto;
        height: 16px;
        width: 16px;
    }

    .make-call #telephone_number:before, .write-us #email span:before {
        display: none;
    }

    .write-us #email {
        display: inline;
    }

    .request-call {
        padding: 15px 15px;
    }

    .write-us {
        padding: 13px 15px;
    }

    .write-us p {
        display: inline-block;
    }

    .write-us p:last-child::before {
        background: url("img/letter.png") no-repeat;
        content: '';
        height: 11px;
        width: 13px;
        display: block;
        margin: 17px auto 7px;
    }

    .invite {
        padding: 13px 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .invite p:first-child {
        width: 70%;
        display: block;
        margin: auto;

    }

    .invite .address {
        width: 30%;
        text-align: left;
    }

}

/*   TESTIMONIALS  PAGE  */
#testimonial_page {

}

#contacts_page .page_name, #testimonial_page .page_name, #vacancy_page .page_name {
    display: block;
    float: left;
    margin-left: 25px;
    position: relative;
    margin-bottom: 0;
    color: rgba(85, 85, 85, 255);
}

#testimonial_page .page_name:before, #contacts_page .page_name:before, #vacancy_page .page_name:before {
    background: url("img/home.png") no-repeat;
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    position: absolute;
    left: -23px;
    top: 0.5em;
}

#contacts_page h1, #testimonial_page h1, #vacancy_page h1, #actions_page h1 {
    font-family: 'GothamPro-Bold' ;
    font-size: 30px;
    color: #00a0c6;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}

#contacts_page .page_name + h1, #testimonial_page .page_name + h1, #vacancy_page .page_name + h1 {
    margin: 39px auto 41px;
}

#testimonial_page #hide {
    display: none;
}

#testimonial_page p, #actions_page p  {
    font-family: 'GothamPro';
    font-size: 15px;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    width: 100%;
}

#testimonial_page button {
    font-family: 'GothamPro-Medium';
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    height: 45px;
    margin: 51px auto 54px;
    background-image: -moz-linear-gradient(90deg, rgb(201, 0, 11) 0%, rgb(255, 54, 8) 99.609%);
    background-image: -webkit-linear-gradient(90deg, rgb(201, 0, 11) 0%, rgb(255, 54, 8) 99.609%);
    box-shadow: 0px 3px 5px 0px rgb(135, 120, 121);
    border-radius: 5px;
    border: 0px;
}

/*   CONTACTS  PAGE  */

#contacts_page p {
    margin: 0;
    display: block;
    width: 100%;
    font-family: 'GothamPro-Bold';
    font-size: 14px;
    color: rgba(0, 0, 0, 255);
    text-align: left;
}

#contacts_page h1 + .blue_text, #vacancy_page h1 + .blue_text  {
    margin-top: 0;
}

#contacts_page .blue_text, #vacancy_page .blue_text {
    color: rgba(0, 160, 198, 255);


}



#contacts_page a {
    color: rgba(0, 160, 198, 255);
    text-decoration: none;
}

#contacts_page .social_icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0;
}

#contacts_page .social_icons li {
    width: 37px;
    height: 37px;
    display: flex;
    margin-right: 11px;

}

#contacts_page #watsapp {
    margin-left: 20px;
    position: relative;
}

#contacts_page #watsapp:before {
    content: '';
    background: url("img/whatsapp.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 0.1em;
    left: -20px;
}

#contacts_page #viber {
    margin-left: 20px;
    position: relative;
}

#contacts_page #viber:before {
    content: '';
    background: url("img/viber.png") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: -20px;
}

#contacts_page .parking {
    display: block;
    width: 100%;
    height: 100%;
}

#contacts_page .how_to_get {
    padding: 33px 15px;
}

#contacts_page .print {
    position: relative;
    margin-left: 52px;
}

#contacts_page .print:before {
    content: '';
    display: inline-block;
    width: 39px;
    height: 39px;
    background: url("img/printer@1X.png");
    position: absolute;
    left: -52px;
    top: -0.9em;
}

#contacts_page .gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
}

#contacts_page .gallery img {
    display: block;
    width: 25%;
    height: 215px;

}

#contacts_page .gallery img:first-child {
    display: block;
    width: 22%;
    height: 215px;

}




#vacancy_page p{
    font-size: 14px;
    font-family: "Gotham Pro";
    text-align: left;
    display: block;
    line-height: normal;
    width:100%;
}
#vacancy_page .update_vacancies .bold:first-child {
    margin-top: 0;
}
#vacancy_page a{
    font-weight: bold;
}

#vacancy_page .current_vacancies p, .update_vacancies p {
    margin: 0;
    padding: 0;
}

#vacancy_page a[href^="mailto:"]{
    text-decoration: underline;
}

#vacancy_page .uppercase {
    text-transform: uppercase;

}

#contacts_page .bold, #vacancy_page .bold {
    font-weight: bold;
    margin-top: 30px;

}

#contacts_page .how_to_get p.blue_text {
    margin-top: 30px;
}

#contacts_page .dropdown-toggle a {
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 160, 198, 255);;
}

#actions_page h1{
    margin-bottom: 36px;
}

.action_block{
    display: block;
    width: 100%;
    border-radius: 4px;
    background-color: rgb( 255, 255, 255 );
    box-shadow: 0.5px 0.866px 6px 0px rgb( 0, 0, 0 );
    max-width: 1170px;
    padding: 35px 71px 37px;
    margin-bottom: 41px;

}
#actions_page h2
{
    font-family: ﻿GothamPro-Bold, ﻿GothamPro;
    font-size: 24px;
    color: rgba(0, 160, 198, 255);
    text-align: center;
    margin-bottom: 35px ;
}


@media screen and (max-width: 769px) {
    #testimonial_page h1 {
        font-size: 24pt;
    }

    #testimonial_page #hide {
        display: block;
    }

    #testimonial_page .page_name + h1 {
        margin: 40px auto 13px;
    }

    /*   CONTACTS  PAGE  */
    #contacts_page .print {
        display: none;
    }

}

@media screen and (max-width: 479px) {
    #testimonial_page h1 {
        font-size: 18pt;
    }

    #testimonial_page .page_name + h1 {
        margin: 37px auto 33px;
    }

    #testimonial_page #hide {
        display: block;
    }

    #contacts_page p, #contacts_page a, #testimonial_page p {
        font-family: ﻿GothamPro, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
        font-size: 12px;
        text-align: left;
    }

    #testimonial_page button {
        margin: 35px auto;
    }

    /*   CONTACTS  PAGE  */
    #contacts_page .new_string {
        display: block;
        width: 100%;
    }

    #contacts_page .print {
        display: none;
    }

}
